<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Registration</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h2 class="text-center">Registration</h2>
      <form th:action="@{/register}" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" required autofocus>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Register</button>
      </form>
      <div class="text-center mt-3">
        <p>Already have an account? <a href="/login">Login</a></p>
<!--        <p th:if="${errMes != null}" th:text="${errMes}" style="color: red;"></p>-->
        <p th:each="error : ${errMes}" th:text="${error}" style="color: red"></p>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>